::-webkit-scrollbar {
	width: 7px;
}
/* ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px #757575;
	border-radius: 10px;
} */
::-webkit-scrollbar-thumb {
	background: #414141;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: #616161;
}

a {
	color: #fff;
}
input {
	color: white;
}
span {
	text-shadow: 0px 0px 9px black; 
}
#canvas-luna {
	z-index: -99;
}
#login {
	display: flex;
	overflow: hidden;
	background: black;
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	align-items: center;
	justify-content: center;
}
#luna {
	overflow: hidden;
	background: black;
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}
#alert_box {
    transition: opacity 0.2s;
}
#canvas-login {
	position: absolute;
	top:0;
	left:0;
	z-index:-99;
}
#menu-side {
	overflow: hidden;
}
#carga, h4 {
	position: center;
}
#bterr-icon {
	color: white;
	font-size: xxx-large;
	padding-top: 20px;
	padding-bottom: 20px;
}
/* .navbar {
	width: 5rem;
	height: 100vh;
	position: fixed;
	background-color: #212121;
}
.navbar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}
.nav-item {
	width: 100%;
}
.nav-item:last-child {
	margin-top: auto;
}
.nav-link {
	display: flex;
	align-items: center;
	height: 5rem;
	color: white;
	text-decoration: none;
} */
/* .user-options {
	padding-top: 15px;
	display: flex;
	flex-direction: column;
}
.user-items:last-child {
	width: 100%;
	margin-top: auto;
} */
/* .user-custom {
	align-items: left !important;
} */
/* .user-link {
	display: flex;
	align-items: center;
	text-decoration: none;
} */
.wrapper {
	display: flex;
	position: relative;
}
.link_text {
	display: none;
}
.wrapper .sidebar{
	justify-content: space-between;
	width: 75px;
	height: 100%;
	background: #212121;
	position: fixed;
}
.wrapper .sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}
.wrapper .sidebar ul li{
	padding: 15px;
	margin: 30px 0;
	text-align: center;
	width: 100%;
} 
.wrapper .sidebar ul li:last-child{
	width: 100%;
	margin-top: auto;
	margin-bottom: 0px;
}
.wrapper .sidebar ul li a{
	color: white;
	display: center;
	font-size: 150%;
}
.wrapper .sidebar ul li a .fas{
	width: 25px;
}
.wrapper .sidebar ul li:hover{
	background-color:#424242;
}
.wrapper .sidebar ul li:hover a{
	color: #fff;
}
.wrapper .sidebar ul #logout-button:hover {
	background-color:#e53935;
}
.subheader {
	font-size: 15px;
}
#saldo-icon {
	color: #757575;
	margin-right: 5px;
}
.login {
	max-width: 430px;
	padding: 35px;
	border-radius: 15px;
	color:white;
	background: rgba(33, 33, 33, 0.7);
	box-shadow: 1px 1px 20px rgba(74, 74, 74, 0.3);
}
.logo {
	background-image: url("../imagenes/Logo.png");
	width:100px;
	height:100px;
	border-radius: 50%;
	margin:0 auto;
}
.icon_style{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: white;
    cursor:pointer; 
}
#user-view_terreno{
	height: 300px;
	padding-top: 240px;
}
#nombre-terreno{
	font-size: 200%;
	text-shadow: 0px 0px 9px black;
}
#cterrenos-side {
	width: 533px;
}
#bterrenos-side {
	width: 533px;
}
#precio-terreno {
	margin-left: 15px;
}
#backg-terreno {
	width: 533px;
	height: 300px;
}
.desc-container {
	width: 503px;
	height: 200px;
	margin-left: 15px;
	line-height: 20px !important; 
}
.dg .c input[type=text] {
    background: #303030;
    outline: none;
    height: 13px;
}
.dg .cr.number input[type=text]{
    height: 13px;
}
