body { 
    display: flex;
    position: fixed;
    margin: 0; 
    padding: 0; 
    height: 100%;
    width:100%;
}
canvas{
    position: fixed;
    display: block;
}
h1 {
    z-index: 1;
    position: absolute;
    top: 2em;
    left: 2em;
    font-family: 'Comfortaa';
    font-size: 7em;
    text-transform: uppercase;
    width: auto;
    line-height: .8em;
    border: 5px solid black;
    padding: .2em;
}
h5 {
    color:red;
    z-index: 2;
    visibility: hidden;
}
.dg .c input[type=text] {
    background: #303030;
    outline: none;
    height: 13px;
}
.dg .cr.number input[type=text]{
    height: 13px;
}