body { 
    display: flex;
    position: fixed;
    margin: 0; 
    padding: 0; 
    height: 100%;
    width:100%;
}
canvas{
    position: absolute;
    display: block;
}
h1 {
    position: absolute;
    top: 2em;
    left: 2em;
    font-family: 'Comfortaa';
    font-size: 7em;
    text-transform: uppercase;
    width: auto;
    line-height: .8em;
    border: 5px solid black;
    padding: .2em;
}

.buttondiv{
    position: fixed;
    display: absolute;
    background: rgba(196,195,251,0.7);
    position: fixed;
    justify-content: space-between;
    padding: 0.3em 0em 0.3em 0.3em;
    border: 0.16em solid rgb(200,200,255);
    z-index: 2;
}
