a {
	color: #fff;
}
body {
	display: flex;
	overflow: hidden;
	background: black;
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	align-items: center;
	justify-content: center;
}
input {
	color: white;
}
#alert_box {
    transition: opacity 0.2s;
}
#canvas-login {
	position: absolute;
	top:0;
	left:0;
	z-index:-99;
}
.login {
	max-width: 430px;
	padding: 35px;
	border-radius: 15px;
	color:white;
	background: rgba(27, 27, 27, 0.7);
	box-shadow: 1px 1px 20px rgba(74, 74, 74, 0.3);
}
.logo {
	background-image: url("../imagenes/Logo.png");
	width:100px;
	height:100px;
	border-radius: 50%;
	margin:0 auto;
}
.material-icons{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: white;
    cursor:pointer; 
}

/* .mySidebar {
	display: block;
	position: absolute;
	width: 200px;
	height: 100%;
	transform: translateX(-200px);
	background: #101010;
	opacity: 0.5;
}
.sidebar-boton {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	margin: 15px 0 0 215px;
	cursor: pointer;
	transition: all .5s ease-in-out;
	opacity: 1;
}
.sidebar-boton__burger {
	width: 50px;
	height: 6px;
	background: #fff;
	border-radius: 5px;
	transition: all .5s ease-in-out;
}
.sidebar-boton__burger::before,
.sidebar-boton__burger::after {
	content: '';
	position: absolute;
	width: 50px;
	height: 6px;
	background: #fff;
	border-radius: 5px;
	transition: all .5s ease-in-out;
}
.sidebar-boton__burger::before {
	transform: translateY(-16px);
}
.sidebar-boton__burger::after {
	transform: translateY(16px);
}
.sidebar-boton.open .sidebar-boton__burger {
	transform: translateX(-50px);
	background: transparent;
	box-shadow: none;
}
.sidebar-boton.open .sidebar-boton__burger::before {
	transform: rotate(45deg) translate(35px, -35px);
}
.sidebar-boton.open .sidebar-boton__burger::after {
	transform: rotate(-45deg) translate(35px, 35px);
} */
